*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
p,
ul,
ol,
li {
  margin: 0;
}

h1,
h2 {
  font-weight: normal;
}

@font-face {
  font-family: 'Inter Regular';
  src:
    local('Inter Regular'),
    local('Inter Regular'),
    url('../../fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Inter Regular', sans-serif;
}

.offline-error {
  margin: 30px auto;
  width: 300px;
}
